@import url('https://fonts.googleapis.com/css2?family=Borel&family=Delius&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Delius&family=Send+Flowers&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

html {
    background-image: url("assets/pexels-photo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
font-family: "Borel";
color: rgb(190, 129, 15);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carta-container {
    border: 1.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(328deg, rgb(170, 111, 0), rgb(140, 213, 255));
}

#carta-imagem {
    height: auto;
    border-radius: 10px;
}

#descrição-carta {
    font-family: "Zain";
    margin-top: 10px;
    font-size: 25px;
    color:rgb(190, 129, 15);
}

#animacao-container {
    position: relative;
    height: 100px;
    margin: 20px 0;
    overflow: hidden;
}

button {
    font-family: "Zain";
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(190, 129, 15);
    color: #fff;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #ffffff;
    color: rgb(190, 129, 15);
}